@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-xl);
  }
}

@keyframes color-pulse {
  0%,
  100% {
    fill: #b91f31;
  }
  50% {
    fill: #db1111;
  }
}

.animate-color-pulse {
  animation: color-pulse 3s ease-in-out infinite;
}
