@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-xl);
  }
}

@keyframes pulseRed {
  0% {
    background-color: rgba(255, 0, 0, 0.1); /* Vermelho claro */
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5); /* Vermelho médio */
  }
  100% {
    background-color: rgba(255, 0, 0, 0.1); /* Vermelho claro */
  }
}
